*{
    margin:0;
    padding:2px;
    box-sizing: border-box;
}
body{
    background-color:hsl(0, 100%, 74%);
}
main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: ;
}